<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>

<body>
    <th:block th:fragment="footer">
        <footer class="site-footer text-white py-4">
            <div class="container text-center">
                <p class="mb-2">&copy; 2026 Game Store. Tutti i diritti riservati.</p>

                <div class="d-flex justify-content-center gap-4">
                    <a href="#" class="text-white fs-4"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="text-white fs-4"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="text-white fs-4"><i class="bi bi-tiktok"></i></a>
                </div>
            </div>
        </footer>
    </th:block>
</body>

</html>
